Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-va-hci-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

architecture-downstream-va-hci-trigger-job:
  parent: downstream-va-hci-trigger-job
  description: 'This job will trigger a VA HCI job downstream.
  
    We can invoke this job by adding following comment
  
    `\trigger github-experimental` in the github pull request comment.
  
    These jobs runs in github-experimental-trigger pipeline.
  
    '

rhoso-architecture-validate-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: hci

rhoso-architecture-validate-ovs-dpdk-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk-sriov

rhoso-architecture-validate-uni01alpha:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni01alpha

rhoso-architecture-validate-bgp:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp
    cifmw_networking_env_def_file: automation/net-env/bgp.yaml

rhoso-architecture-validate-bgp_dt01:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp_dt01

rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: nfv-ovs-dpdk-sriov-hci

rhoso-architecture-validate-osasinfra:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: osasinfra

rhoso-architecture-validate-ovs-dpdk:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk

rhoso-architecture-validate-pidone:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: pidone
    cifmw_networking_env_def_file: automation/net-env/pidone.yaml

rhoso-architecture-validate-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: sriov

rhoso-architecture-validate-uni02beta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni02beta
    cifmw_networking_env_def_file: automation/net-env/uni02beta.yaml

rhoso-architecture-validate-uni04delta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta
    cifmw_networking_env_def_file: automation/net-env/uni04delta.yaml

rhoso-architecture-validate-uni04delta-ipv6:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta-ipv6
    cifmw_networking_env_def_file: automation/net-env/uni04delta-ipv6.yaml

rhoso-architecture-validate-uni05epsilon:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni05epsilon
    cifmw_networking_env_def_file: automation/net-env/uni05epsilon.yaml

rhoso-architecture-validate-uni06zeta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni06zeta
    cifmw_networking_env_def_file: automation/net-env/uni06zeta.yaml

rhoso-architecture-validate-uni07eta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni07eta
    cifmw_networking_env_def_file: automation/net-env/uni07eta.yaml

[DNM] Force Ansible debug verbosity for VA1
  examples/va/hci/edpm-pre-ceph/nodeset/values.yaml
Due: rhoso-architecture-validate-hci

Add Swift network for RGW to HCI scenario
  examples/va/hci/control-plane/nncp/kustomization.yaml
  examples/va/hci/control-plane/nncp/values.yaml
  examples/va/hci/edpm-pre-ceph/nodeset/values.yaml
  va/hci/kustomization.yaml
  va/hci/networking/kustomization.yaml
  va/hci/networking/metallb/kustomization.yaml
  va/hci/networking/metallb/metallb_l2advertisement.yaml
  va/hci/networking/metallb/ocp_ip_pool_template.yaml
  va/hci/networking/metallb/ocp_ip_pools.yaml
  va/hci/networking/nad/kustomization.yaml
  va/hci/networking/nad/ocp_network_template.yaml
  va/hci/networking/nad/ocp_networks_netattach.yaml
  va/hci/networking/netconfig/kustomization.yaml
  va/hci/networking/netconfig/netconfig.yaml
  va/hci/nncp/kustomization.yaml
  va/hci/nncp/ocp_node_template.yaml
  va/hci/nncp/ocp_nodes_nncp.yaml
Due: architecture-downstream-va-hci-trigger-job, rhoso-architecture-validate-hci

[delta-ipv6] Shared control plane vars
  dt/uni04delta-ipv6/control-plane/kustomization.yaml
  dt/uni04delta-ipv6/edpm/nodeset/kustomization.yaml
  dt/uni04delta-ipv6/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

[BGP_DT01] Enable octavia
  automation/mocks/bgp_dt01.yaml
  dt/bgp/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
  examples/dt/bgp/control-plane/service-values.yaml
Due: rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01

[Draft] Add worke node to run test operator on uni04delta
  .gitignore
  dt/uni04delta-ipv6/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/ocp_worker_nodes.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Adjust iAd idddd AMove all changes under examples/dt/
  dt/uni04delta-ipv6/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/ocp_worker_nodes.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Add worker node to automation/net-env/uni04delta-ipv6.yaml
  automation/net-env/uni04delta-ipv6.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/ocp_worker_nodes.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Add Swift network for RGW to HCI scenario
  examples/va/hci/control-plane/nncp/kustomization.yaml
  examples/va/hci/control-plane/nncp/values.yaml
  lib/nncp/ocp_nodes_nncp.yaml
  va/hci/edpm-post-ceph/nodeset/kustomization.yaml
  va/hci/kustomization.yaml
  va/hci/networking/metallb/kustomization.yaml
  va/hci/networking/metallb/metallb_l2advertisement.yaml
  va/hci/networking/metallb/ocp_ip_pools.yaml
  va/hci/networking/nad/kustomization.yaml
  va/hci/networking/nad/ocp_networks_netattach.yaml
  va/hci/networking/netconfig/kustomization.yaml
  va/hci/nncp/kustomization.yaml
  va/hci/nodeset/kustomization.yaml
Due: architecture-downstream-va-hci-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Deployed 69a4aed with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.56dfad97.min.js
  assets/javascripts/bundle.56dfad97.min.js.map
  assets/javascripts/bundle.d6f25eb3.min.js
  assets/javascripts/bundle.d6f25eb3.min.js.map
  assets/javascripts/workers/search.07f07601.min.js
  assets/javascripts/workers/search.07f07601.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/stylesheets/main.35f28582.min.css
  assets/stylesheets/main.35f28582.min.css.map
  assets/stylesheets/main.8c3ca2c6.min.css
  assets/stylesheets/main.8c3ca2c6.min.css.map
  contributing/cherry-picking/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add DT using BMO / Metal3 provisioning
  automation/vars/bmo.yaml
  dt/bmo/dataplane/baremetalhosts/baremetalhost_template.yaml
  dt/bmo/dataplane/baremetalhosts/baremetalhosts.yaml
  dt/bmo/dataplane/baremetalhosts/bmc_secret.yaml
  dt/bmo/dataplane/baremetalhosts/kustomization.yaml
  dt/bmo/dataplane/kustomization.yaml
  dt/bmo/dataplane/nodesets/kustomization.yaml
  dt/bmo/dataplane/nodesets/openstackdataplanenodesets.yaml
  dt/bmo/dataplane/secrets/dataplane-ssh-secret.yaml
  dt/bmo/dataplane/secrets/kustomization.yaml
  dt/bmo/dataplane/secrets/nova-migration-ssh-secret.yaml
  dt/bmo/kustomization.yaml
  dt/bmo/namespace.yaml
  dt/bmo/netconfig/kustomization.yaml
  dt/bmo/netconfig/netconfig.yaml
  dt/bmo/nncp/kustomization.yaml
  examples/dt/bmo/README.md
  examples/dt/bmo/control-plane.md
  examples/dt/bmo/control-plane/kustomization.yaml
  examples/dt/bmo/control-plane/nncp/kustomization.yaml
  examples/dt/bmo/control-plane/nncp/values.yaml
  examples/dt/bmo/control-plane/service-values.yaml
  examples/dt/bmo/data-plane.md
  examples/dt/bmo/dataplane/baremetalhosts/kustomization.yaml
  examples/dt/bmo/dataplane/baremetalhosts/values.yaml
  examples/dt/bmo/dataplane/kustomization.yaml
  examples/dt/bmo/dataplane/nodesets/kustomization.yaml
  examples/dt/bmo/dataplane/nodesets/values.yaml
  examples/dt/bmo/dataplane/secrets/kustomization.yaml
  examples/dt/bmo/dataplane/secrets/values.yaml
  examples/dt/bmo/dataplane/values.yaml
Due: none

Add swift interface
  dt/pidone/kustomization.yaml
  examples/dt/pidone/nncp/values.yaml
Due: rhoso-architecture-validate-pidone

Distinguish between 'name\ and 'node_name' when configure node-3 nncp
  automation/net-env/uni04delta-ipv6.yaml
  examples/dt/uni04delta-ipv6/control-plane/nncp/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Deployed 932b0d9 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.525ec568.min.js
  assets/javascripts/bundle.525ec568.min.js.map
  assets/javascripts/bundle.d6f25eb3.min.js
  assets/javascripts/bundle.d6f25eb3.min.js.map
  contributing/cherry-picking/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Revert "Add Swift network for RGW to HCI scenario"
  examples/va/hci/control-plane/nncp/kustomization.yaml
  examples/va/hci/control-plane/nncp/values.yaml
  lib/nncp/ocp_nodes_nncp.yaml
  va/hci/edpm-post-ceph/nodeset/kustomization.yaml
  va/hci/edpm-pre-ceph/nodeset/kustomization.yaml
  va/hci/kustomization.yaml
  va/hci/networking/metallb/kustomization.yaml
  va/hci/networking/metallb/metallb_l2advertisement.yaml
  va/hci/networking/metallb/ocp_ip_pools.yaml
  va/hci/networking/nad/kustomization.yaml
  va/hci/networking/nad/ocp_networks_netattach.yaml
  va/hci/networking/netconfig/kustomization.yaml
  va/hci/nncp/kustomization.yaml
  va/hci/nodeset/kustomization.yaml
Due: architecture-downstream-va-hci-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

Revert "Add swift interface"
  dt/pidone/kustomization.yaml
  examples/dt/pidone/nncp/values.yaml
Due: rhoso-architecture-validate-pidone

Enable Heat for uni04delta-ipv6 DT
  dt/uni04delta-ipv6/control-plane/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Deployed cd2734a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Update example values and jinja template
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/service-values.yaml
  examples/dt/dcn/service-values.yaml.j2
  examples/dt/dcn/values.yaml
  examples/dt/dcn/values.yaml.j2
Due: none

Fix incorrect path in automation variables
  automation/vars/dcn.yaml
Due: none

Introduce support for DCN VA
  automation/vars/dcn.yaml
  examples/va/dcn/.gitignore
  examples/va/dcn/README.md
  examples/va/dcn/control-plane.md
  examples/va/dcn/control-plane/.gitignore
  examples/va/dcn/control-plane/kustomization.yaml
  examples/va/dcn/control-plane/nncp/.gitignore
  examples/va/dcn/control-plane/nncp/kustomization.yaml
  examples/va/dcn/control-plane/nncp/values.yaml
  examples/va/dcn/control-plane/service-values.yaml
  examples/va/dcn/dataplane-post-ceph.md
  examples/va/dcn/dataplane-pre-ceph.md
  examples/va/dcn/deployment/kustomization.yaml
  examples/va/dcn/deployment/values.yaml
  examples/va/dcn/deployment/values.yaml.j2
  examples/va/dcn/edpm-pre-ceph/.gitignore
  examples/va/dcn/edpm-pre-ceph/deployment/kustomization.yaml
  examples/va/dcn/edpm-pre-ceph/deployment/values.yaml
  examples/va/dcn/edpm-pre-ceph/deployment/values.yaml.j2
  examples/va/dcn/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/va/dcn/edpm-pre-ceph/nodeset/values.yaml
  examples/va/dcn/edpm-pre-ceph/nodeset/values.yaml.j2
  examples/va/dcn/kustomization.yaml
  examples/va/dcn/service-values.yaml
  examples/va/dcn/service-values.yaml.j2
  examples/va/dcn/values.yaml
  examples/va/dcn/values.yaml.j2
  va/dcn/README.md
  va/dcn/edpm-post-ceph/deployment/kustomization.yaml
  va/dcn/edpm-post-ceph/nodeset/ceph_secret.yaml
  va/dcn/edpm-post-ceph/nodeset/extra_mounts.yaml
  va/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  va/dcn/edpm-post-ceph/nodeset/nova_ceph.yaml
  va/dcn/edpm-pre-ceph/deployment/kustomization.yaml
  va/dcn/edpm-pre-ceph/nodeset/kustomization.yaml
  va/dcn/kustomization.yaml
  va/dcn/namespace.yaml
Due: none

Correct an indentation in service-values template
  examples/dt/dcn/service-values.yaml.j2
Due: none

Move DCN from VA to DT
  dt/dcn/README.md
  dt/dcn/edpm-post-ceph/deployment/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/ceph_secret.yaml
  dt/dcn/edpm-post-ceph/nodeset/extra_mounts.yaml
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/nova_ceph.yaml
  dt/dcn/edpm-pre-ceph/deployment/kustomization.yaml
  dt/dcn/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/dcn/kustomization.yaml
  dt/dcn/namespace.yaml
  examples/dt/dcn/.gitignore
  examples/dt/dcn/README.md
  examples/dt/dcn/control-plane.md
  examples/dt/dcn/control-plane/.gitignore
  examples/dt/dcn/control-plane/kustomization.yaml
  examples/dt/dcn/control-plane/nncp/.gitignore
  examples/dt/dcn/control-plane/nncp/kustomization.yaml
  examples/dt/dcn/control-plane/nncp/values.yaml
  examples/dt/dcn/control-plane/service-values.yaml
  examples/dt/dcn/dataplane-post-ceph.md
  examples/dt/dcn/dataplane-pre-ceph.md
  examples/dt/dcn/deployment/kustomization.yaml
  examples/dt/dcn/deployment/values.yaml
  examples/dt/dcn/deployment/values.yaml.j2
  examples/dt/dcn/edpm-pre-ceph/.gitignore
  examples/dt/dcn/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/dcn/edpm-pre-ceph/deployment/values.yaml
  examples/dt/dcn/edpm-pre-ceph/deployment/values.yaml.j2
  examples/dt/dcn/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/dcn/edpm-pre-ceph/nodeset/values.yaml.j2
  examples/dt/dcn/image.png
  examples/dt/dcn/kustomization.yaml
  examples/dt/dcn/service-values.yaml
  examples/dt/dcn/service-values.yaml.j2
  examples/dt/dcn/values.yaml
  examples/dt/dcn/values.yaml.j2
Due: none

Update GlanceAPI parameters in service-value template and examples
  examples/dt/dcn/service-values.yaml
  examples/dt/dcn/service-values.yaml.j2
Due: none

Add NFS network for Manila to uni04delta
  automation/net-env/uni04delta.yaml
  dt/uni04delta/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/uni04delta/edpm/nodeset/kustomization.yaml
  dt/uni04delta/kustomization.yaml
  dt/uni04delta/networking/metallb/kustomization.yaml
  dt/uni04delta/networking/metallb/metallb_l2advertisement.yaml
  dt/uni04delta/networking/metallb/ocp_ip_pools.yaml
  dt/uni04delta/networking/nad/kustomization.yaml
  dt/uni04delta/networking/nad/ocp_networks_netattach.yaml
  dt/uni04delta/networking/netconfig/kustomization.yaml
  dt/uni04delta/nncp/kustomization.yaml
  dt/uni04delta/nodeset/ceph/kustomization.yaml
  dt/uni04delta/nodeset/compute/kustomization.yaml
  examples/dt/uni04delta/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni04delta

Fix yaml lint errors
  automation/vars/dcn.yaml
  dt/dcn/edpm-post-ceph/deployment/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/nova_ceph.yaml
  dt/dcn/edpm-pre-ceph/deployment/kustomization.yaml
  dt/dcn/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/control-plane/kustomization.yaml
  examples/dt/dcn/control-plane/nncp/values.yaml
  examples/dt/dcn/deployment/kustomization.yaml
  examples/dt/dcn/deployment/values.yaml
  examples/dt/dcn/deployment/values.yaml.j2
  examples/dt/dcn/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/dcn/edpm-pre-ceph/deployment/values.yaml
  examples/dt/dcn/edpm-pre-ceph/deployment/values.yaml.j2
  examples/dt/dcn/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/dcn/edpm-pre-ceph/nodeset/values.yaml.j2
  examples/dt/dcn/service-values.yaml
  examples/dt/dcn/service-values.yaml.j2
  examples/dt/dcn/values.yaml
  examples/dt/dcn/values.yaml.j2
Due: none

Add DCN net-env configuration file
  automation/net-env/dcn.yaml
Due: none

Add zuul job for DCN DT
  automation/net-env/dcn.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Multiple nodesets for ovs-dpdk-sriov scenario
  automation/vars/ovs-dpdk-sriov-2nodesets.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/nncp/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Fix missing octavia-ca-passphrase secret
  dt/uni04delta-ipv6/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

[ignore me] NFV adoption test patch
  automation/vars/nfv-ovs-dpdk-sriov-adoption.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Enable Octavia in uni07eta
  examples/dt/uni07eta/control-plane/nncp/values.yaml
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni07eta

[Draft] Add nvidia-mdev VA
  automation/vars/nvidia-mdev.yaml
  examples/va/nvidia-mdev/.gitignore
  examples/va/nvidia-mdev/edpm/.gitignore
  examples/va/nvidia-mdev/edpm/deployment/.gitignore
  examples/va/nvidia-mdev/edpm/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm/deployment/values.yaml
  examples/va/nvidia-mdev/edpm/nodeset/.gitignore
  examples/va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm/nodeset/values.yaml
  examples/va/nvidia-mdev/kustomization.yaml
  examples/va/nvidia-mdev/nncp/.gitignore
  examples/va/nvidia-mdev/nncp/kustomization.yaml
  examples/va/nvidia-mdev/nncp/values.yaml
  examples/va/nvidia-mdev/service-values.yaml
  va/nvidia-mdev/edpm/deployment/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/baremetalset-password-secret.yaml
  va/nvidia-mdev/edpm/nodeset/kustomization.yaml
  va/nvidia-mdev/edpm/nodeset/nova_sriov.yaml
  va/nvidia-mdev/kustomization.yaml
  va/nvidia-mdev/namespace.yaml
Due: none

Deployed 6c766ab with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Unifying Ceph cluster names to a single standard
  examples/dt/dcn/service-values.yaml
  examples/dt/dcn/service-values.yaml.j2
  examples/dt/dcn/values.yaml
  examples/dt/dcn/values.yaml.j2
Due: none

Add telemetry to uni04delta-ipv6
  dt/uni04delta-ipv6/edpm/nodeset/kustomization.yaml
  dt/uni04delta-ipv6/kustomization.yaml
  examples/dt/uni04delta-ipv6/README.md
  examples/dt/uni04delta-ipv6/control-plane.md
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
  examples/dt/uni04delta-ipv6/values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

WA extend keystone token expiration
  dt/uni04delta-ipv6/edpm/nodeset/kustomization.yaml
  dt/uni04delta-ipv6/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Fix CI issues
  examples/dt/uni04delta-ipv6/control-plane/coo-sub.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Path conditions:
  architecture-downstream-va-hci-trigger-job: any of: ^automation/vars/hci.yaml, ^lib, ^examples/common, ^examples/dt/hci, ^va/hci
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/net-env/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib
