Repository openstack-k8s-operators/architecture: changes, and which Zuul jobs are due for each by the changed paths.
All: architecture-downstream-va-hci-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

architecture-downstream-va-hci-trigger-job:
  parent: downstream-va-hci-trigger-job
  description: 'This job will trigger a VA HCI job downstream.
  
    We can invoke this job by adding following comment
  
    `\trigger github-experimental` in the github pull request comment.
  
    These jobs runs in github-experimental-trigger pipeline.
  
    '

rhoso-architecture-validate-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: hci

rhoso-architecture-validate-ovs-dpdk-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk-sriov

rhoso-architecture-validate-uni01alpha:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni01alpha

rhoso-architecture-validate-bgp:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp
    cifmw_networking_env_def_file: automation/net-env/bgp.yaml

rhoso-architecture-validate-bgp_dt01:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: bgp_dt01

rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: nfv-ovs-dpdk-sriov-hci

rhoso-architecture-validate-osasinfra:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: osasinfra

rhoso-architecture-validate-ovs-dpdk:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: ovs-dpdk

rhoso-architecture-validate-pidone:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: pidone
    cifmw_networking_env_def_file: automation/net-env/pidone.yaml

rhoso-architecture-validate-sriov:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: sriov

rhoso-architecture-validate-uni02beta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni02beta
    cifmw_networking_env_def_file: automation/net-env/uni02beta.yaml

rhoso-architecture-validate-uni04delta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta
    cifmw_networking_env_def_file: automation/net-env/uni04delta.yaml

rhoso-architecture-validate-uni04delta-ipv6:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni04delta-ipv6
    cifmw_networking_env_def_file: automation/net-env/uni04delta-ipv6.yaml

rhoso-architecture-validate-uni05epsilon:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni05epsilon
    cifmw_networking_env_def_file: automation/net-env/uni05epsilon.yaml

rhoso-architecture-validate-uni06zeta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni06zeta
    cifmw_networking_env_def_file: automation/net-env/uni06zeta.yaml

rhoso-architecture-validate-uni07eta:
  parent: rhoso-architecture-base-job
  vars:
    cifmw_architecture_scenario: uni07eta
    cifmw_networking_env_def_file: automation/net-env/uni07eta.yaml

Deploy COO in uni04delta-ipv6
  examples/dt/uni04delta-ipv6/control-plane.md
  examples/dt/uni04delta-ipv6/control-plane/coo-sub.yaml
  examples/dt/uni04delta-ipv6/control-plane/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Remove ironic changes from PR
  dt/uni04delta-ipv6/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Remove heat changes from PR
  dt/uni04delta-ipv6/edpm/nodeset/kustomization.yaml
  dt/uni04delta-ipv6/kustomization.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Add multi-cell DT
  automation/vars/nova-multiplecells.yaml
  dt/nova/nova-multiplecells/README.md
  dt/nova/nova-multiplecells/edpm/deployment/kustomization.yaml
  dt/nova/nova-multiplecells/edpm/kustomization.yaml
  dt/nova/nova-multiplecells/edpm/nodeset/kustomization.yaml
  dt/nova/nova-multiplecells/edpm/nodeset/nova_cell_service.yaml
  dt/nova/nova-multiplecells/kustomization.yaml
  dt/nova/nova-multiplecells/namespace.yaml
  examples/dt/nova/nova-multiplecells/README.md
  examples/dt/nova/nova-multiplecells/control-plane.md
  examples/dt/nova/nova-multiplecells/control-plane/kustomization.yaml
  examples/dt/nova/nova-multiplecells/control-plane/nncp/kustomization.yaml
  examples/dt/nova/nova-multiplecells/control-plane/nncp/values.yaml
  examples/dt/nova/nova-multiplecells/control-plane/service-values.yaml
  examples/dt/nova/nova-multiplecells/data-plane.md
  examples/dt/nova/nova-multiplecells/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova-multiplecells/edpm/deployment/values.yaml
  examples/dt/nova/nova-multiplecells/edpm/nodeset/kustomization.yaml
  examples/dt/nova/nova-multiplecells/edpm/nodeset/values.yaml
  examples/dt/nova/nova-multiplecells/edpm/nodeset2/kustomization.yaml
  examples/dt/nova/nova-multiplecells/edpm/nodeset2/values.yaml
  examples/dt/nova/nova-multiplecells/kustomization.yaml
  examples/dt/nova/nova-multiplecells/values.yaml
Due: none

DT - BMO deploy with preprovisioningNetworkData
  .ci/automation-schema.yaml
  automation/mocks/bmo01.yaml
  automation/net-env/bmo01.yaml
  automation/vars/bmo01.yaml
  dt/bmo01/dataplane/baremetalhosts/baremetalhost_template.yaml
  dt/bmo01/dataplane/baremetalhosts/baremetalhosts.yaml
  dt/bmo01/dataplane/baremetalhosts/kustomization.yaml
  dt/bmo01/dataplane/kustomization.yaml
  dt/bmo01/dataplane/nodesets/kustomization.yaml
  dt/bmo01/dataplane/nodesets/network-data-secrets.yaml
  dt/bmo01/dataplane/nodesets/openstackdataplanenodesets.yaml
  dt/bmo01/dataplane/secrets/dataplane-ssh-secret.yaml
  dt/bmo01/dataplane/secrets/kustomization.yaml
  dt/bmo01/dataplane/secrets/nova-migration-ssh-secret.yaml
  dt/bmo01/kustomization.yaml
  dt/bmo01/netconfig/kustomization.yaml
  dt/bmo01/netconfig/netconfig.yaml
  dt/bmo01/nncp/kustomization.yaml
  examples/dt/bmo01/README.md
  examples/dt/bmo01/control-plane.md
  examples/dt/bmo01/control-plane/kustomization.yaml
  examples/dt/bmo01/control-plane/nncp/kustomization.yaml
  examples/dt/bmo01/control-plane/nncp/values.yaml
  examples/dt/bmo01/control-plane/service-values.yaml
  examples/dt/bmo01/data-plane.md
  examples/dt/bmo01/dataplane/baremetalhosts/bmc-secret.env
  examples/dt/bmo01/dataplane/baremetalhosts/kustomization.yaml
  examples/dt/bmo01/dataplane/baremetalhosts/values.yaml
  examples/dt/bmo01/dataplane/kustomization.yaml
  examples/dt/bmo01/dataplane/nodesets/kustomization.yaml
  examples/dt/bmo01/dataplane/nodesets/values.yaml
  examples/dt/bmo01/dataplane/secrets/kustomization.yaml
  examples/dt/bmo01/dataplane/secrets/values.yaml
  examples/dt/bmo01/dataplane/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

[Draft] Split nvidia-mdev arch in two stages
  automation/vars/nvidia-mdev.yaml
  examples/va/nvidia-mdev/edpm-post-driver/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/deployment/values.yaml
  examples/va/nvidia-mdev/edpm-post-driver/nodeset/.gitignore
  examples/va/nvidia-mdev/edpm-post-driver/nodeset/kustomization.yaml
  examples/va/nvidia-mdev/edpm-post-driver/nodeset/values.yaml
  va/nvidia-mdev/edpm-post-driver/deployment/kustomization.yaml
  va/nvidia-mdev/edpm-post-driver/nodeset/baremetalset-password-secret.yaml
  va/nvidia-mdev/edpm-post-driver/nodeset/kustomization.yaml
  va/nvidia-mdev/edpm-post-driver/nodeset/nova_sriov.yaml
Due: none

[uni04delta-ipv6] Add octavia
  dt/uni04delta-ipv6/kustomization.yaml
  dt/uni04delta-ipv6/nad.yaml
  dt/uni04delta-ipv6/nncp/kustomization.yaml
  examples/dt/uni04delta-ipv6/README.md
  examples/dt/uni04delta-ipv6/control-plane/nncp/values.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Add uni02beta-upstream trigger job
  zuul.d/trigger-jobs.yaml
Due: none

Add NFS network for Manila to uni04delta
  automation/net-env/uni04delta.yaml
  dt/uni04delta/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/uni04delta/edpm/nodeset/kustomization.yaml
  dt/uni04delta/kustomization.yaml
  dt/uni04delta/networking/metallb/kustomization.yaml
  dt/uni04delta/networking/metallb/metallb_l2advertisement.yaml
  dt/uni04delta/networking/metallb/ocp_ip_pools.yaml
  dt/uni04delta/networking/nad/kustomization.yaml
  dt/uni04delta/networking/nad/ocp_networks_netattach.yaml
  dt/uni04delta/networking/netconfig/kustomization.yaml
  dt/uni04delta/nncp/kustomization.yaml
  dt/uni04delta/nodeset/ceph/kustomization.yaml
  dt/uni04delta/nodeset/compute/kustomization.yaml
  examples/dt/uni04delta/control-plane/nncp/kustomization.yaml
  examples/dt/uni04delta/control-plane/nncp/values.yaml
Due: rhoso-architecture-validate-uni04delta

Enable telemetry in OSASINFRA DT
  dt/osasinfra/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/osasinfra/control-plane.md
  examples/dt/osasinfra/service-values.yaml
  examples/dt/osasinfra/values.yaml
Due: rhoso-architecture-validate-osasinfra

Multiple nodesets for ovs-dpdk-sriov scenario
  automation/vars/ovs-dpdk-sriov-2nodesets.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/deployment/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/.gitignore
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/edpm/nodeset2/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/kustomization.yaml
  examples/dt/nfv/nfv-ovs-dpdk-sriov-2nodesets/nncp/kustomization.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Set enable-chassis-as-gateway controlplane as false in uni07eta
  examples/dt/uni07eta/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni07eta

Add uni02beta trigger job
  zuul.d/trigger-jobs.yaml
Due: none

[POC] Add an adoption VA to setup networking
  automation/vars/adoption.yaml
  examples/va/adoption/.gitignore
  examples/va/adoption/README.md
  examples/va/adoption/control-plane/.gitignore
  examples/va/adoption/control-plane/kustomization.yaml
  examples/va/adoption/control-plane/nncp/.gitignore
  examples/va/adoption/control-plane/nncp/kustomization.yaml
  examples/va/adoption/control-plane/nncp/values.yaml
  examples/va/adoption/networking.yaml
  va/adoption/README.md
  va/adoption/kustomization.yaml
  va/adoption/namespace.yaml
  va/adoption/networking/metallb/kustomization.yaml
  va/adoption/networking/metallb/metallb_l2advertisement.yaml
  va/adoption/networking/metallb/ocp_ip_pools.yaml
  va/adoption/networking/nad/kustomization.yaml
  va/adoption/networking/nad/ocp_networks_netattach.yaml
  va/adoption/networking/netconfig/kustomization.yaml
  va/adoption/nncp/kustomization.yaml
Due: none

Introduce support for DCN DT
  automation/net-env/dcn.yaml
  automation/vars/dcn.yaml
  dt/dcn/README.md
  dt/dcn/edpm-post-ceph/deployment/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/ceph_secret.yaml
  dt/dcn/edpm-post-ceph/nodeset/extra_mounts.yaml
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  dt/dcn/edpm-post-ceph/nodeset/nova_ceph.yaml
  dt/dcn/edpm-pre-ceph/deployment/kustomization.yaml
  dt/dcn/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/dcn/kustomization.yaml
  dt/dcn/namespace.yaml
  examples/dt/dcn/.gitignore
  examples/dt/dcn/README.md
  examples/dt/dcn/control-plane.md
  examples/dt/dcn/control-plane/.gitignore
  examples/dt/dcn/control-plane/kustomization.yaml
  examples/dt/dcn/control-plane/nncp/.gitignore
  examples/dt/dcn/control-plane/nncp/kustomization.yaml
  examples/dt/dcn/control-plane/nncp/values.yaml
  examples/dt/dcn/control-plane/service-values.yaml
  examples/dt/dcn/dataplane-post-ceph.md
  examples/dt/dcn/dataplane-pre-ceph.md
  examples/dt/dcn/deployment/kustomization.yaml
  examples/dt/dcn/deployment/values.yaml
  examples/dt/dcn/edpm-pre-ceph/.gitignore
  examples/dt/dcn/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/dcn/edpm-pre-ceph/deployment/values.yaml
  examples/dt/dcn/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/dcn/image.png
  examples/dt/dcn/kustomization.yaml
  examples/dt/dcn/service-values.yaml
  examples/dt/dcn/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: none

Move COO deployment to common
  examples/dt/uni04delta-ipv6/control-plane/kustomization.yaml
  lib/olm-deps/coo_subscription.yaml
  lib/olm-deps/kustomization.yaml
Due: architecture-downstream-va-hci-trigger-job, rhoso-architecture-validate-hci, rhoso-architecture-validate-ovs-dpdk-sriov, rhoso-architecture-validate-uni01alpha, rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01, rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci, rhoso-architecture-validate-osasinfra, rhoso-architecture-validate-ovs-dpdk, rhoso-architecture-validate-pidone, rhoso-architecture-validate-sriov, rhoso-architecture-validate-uni02beta, rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6, rhoso-architecture-validate-uni05epsilon, rhoso-architecture-validate-uni06zeta, rhoso-architecture-validate-uni07eta

OSASINFRA-IPV6 DT
  automation/vars/osasinfra-ipv6.yaml
  dt/osasinfra-ipv6/README.md
  dt/osasinfra-ipv6/edpm-post-ceph/deployment/kustomization.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/ceph_secret.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/extra_mounts.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/kustomization.yaml
  dt/osasinfra-ipv6/edpm-pre-ceph/deployment/kustomization.yaml
  dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/osasinfra-ipv6/kustomization.yaml
  dt/osasinfra-ipv6/namespace.yaml
  dt/osasinfra-ipv6/nncp/kustomization.yaml
  dt/osasinfra-ipv6/ocp_networks_octavia_netattach.yaml
  examples/dt/osasinfra-ipv6/.gitignore
  examples/dt/osasinfra-ipv6/README.md
  examples/dt/osasinfra-ipv6/control-plane.md
  examples/dt/osasinfra-ipv6/control-plane/.gitignore
  examples/dt/osasinfra-ipv6/control-plane/kustomization.yaml
  examples/dt/osasinfra-ipv6/control-plane/nncp/.gitignore
  examples/dt/osasinfra-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/osasinfra-ipv6/control-plane/nncp/values.yaml
  examples/dt/osasinfra-ipv6/control-plane/service-values.yaml
  examples/dt/osasinfra-ipv6/dataplane-post-ceph.md
  examples/dt/osasinfra-ipv6/dataplane-pre-ceph.md
  examples/dt/osasinfra-ipv6/deployment/kustomization.yaml
  examples/dt/osasinfra-ipv6/deployment/values.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/.gitignore
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/deployment/values.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/osasinfra-ipv6/kustomization.yaml
  examples/dt/osasinfra-ipv6/service-values.yaml
  examples/dt/osasinfra-ipv6/values.yaml
Due: rhoso-architecture-validate-osasinfra

Deployed 1131ade with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.525ec568.min.js
  assets/javascripts/bundle.525ec568.min.js.map
  assets/javascripts/bundle.83f73b43.min.js
  assets/javascripts/bundle.83f73b43.min.js.map
  assets/stylesheets/main.0253249f.min.css
  assets/stylesheets/main.0253249f.min.css.map
  assets/stylesheets/main.8c3ca2c6.min.css
  assets/stylesheets/main.8c3ca2c6.min.css.map
  contributing/cherry-picking/index.html
  contributing/documentation/index.html
  contributing/pull-request-testing/index.html
  dt/index.html
  faq/cr_by_components/index.html
  index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed a0cf8f9 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

WA extend keystone token expiration
  dt/uni04delta-ipv6/edpm/nodeset/kustomization.yaml
  dt/uni04delta-ipv6/kustomization.yaml
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Add telemetry to uni04delta-ipv6
  dt/uni04delta-ipv6/edpm/nodeset/kustomization.yaml
  dt/uni04delta-ipv6/kustomization.yaml
  examples/dt/uni04delta-ipv6/README.md
  examples/dt/uni04delta-ipv6/control-plane.md
  examples/dt/uni04delta-ipv6/control-plane/service-values.yaml
  examples/dt/uni04delta-ipv6/values.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

Fix CI issues
  examples/dt/uni04delta-ipv6/control-plane/coo-sub.yaml
Due: rhoso-architecture-validate-uni04delta, rhoso-architecture-validate-uni04delta-ipv6

OSASINFRA-IPV6 DT
  automation/vars/osasinfra-ipv6.yaml
  dt/osasinfra-ipv6/README.md
  dt/osasinfra-ipv6/edpm-post-ceph/deployment/kustomization.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/ceph_secret.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/extra_mounts.yaml
  dt/osasinfra-ipv6/edpm-post-ceph/nodeset/kustomization.yaml
  dt/osasinfra-ipv6/edpm-pre-ceph/deployment/kustomization.yaml
  dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  dt/osasinfra-ipv6/kustomization.yaml
  dt/osasinfra-ipv6/namespace.yaml
  dt/osasinfra-ipv6/nncp/kustomization.yaml
  dt/osasinfra-ipv6/ocp_networks_octavia_netattach.yaml
  examples/dt/osasinfra-ipv6/.gitignore
  examples/dt/osasinfra-ipv6/README.md
  examples/dt/osasinfra-ipv6/control-plane.md
  examples/dt/osasinfra-ipv6/control-plane/.gitignore
  examples/dt/osasinfra-ipv6/control-plane/kustomization.yaml
  examples/dt/osasinfra-ipv6/control-plane/nncp/.gitignore
  examples/dt/osasinfra-ipv6/control-plane/nncp/kustomization.yaml
  examples/dt/osasinfra-ipv6/control-plane/nncp/values.yaml
  examples/dt/osasinfra-ipv6/control-plane/service-values.yaml
  examples/dt/osasinfra-ipv6/dataplane-post-ceph.md
  examples/dt/osasinfra-ipv6/dataplane-pre-ceph.md
  examples/dt/osasinfra-ipv6/deployment/kustomization.yaml
  examples/dt/osasinfra-ipv6/deployment/values.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/.gitignore
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/deployment/kustomization.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/deployment/values.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/kustomization.yaml
  examples/dt/osasinfra-ipv6/edpm-pre-ceph/nodeset/values.yaml
  examples/dt/osasinfra-ipv6/kustomization.yaml
  examples/dt/osasinfra-ipv6/service-values.yaml
  examples/dt/osasinfra-ipv6/values.yaml
  zuul.d/projects.yaml
  zuul.d/validations.yaml
Due: rhoso-architecture-validate-osasinfra

[BGP_DT01] Enable octavia
  automation/mocks/bgp_dt01.yaml
  dt/bgp/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
  examples/dt/bgp/control-plane/service-values.yaml
Due: rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01

Add multi-cell DT
  automation/vars/nova-three-cells.yaml
  dt/nova/nova-three-cells/README.md
  dt/nova/nova-three-cells/edpm/deployment/kustomization.yaml
  dt/nova/nova-three-cells/edpm/kustomization.yaml
  dt/nova/nova-three-cells/edpm/nodeset/kustomization.yaml
  dt/nova/nova-three-cells/edpm/nodeset/nova_cell_service.yaml
  dt/nova/nova-three-cells/kustomization.yaml
  dt/nova/nova-three-cells/namespace.yaml
  examples/dt/nova/nova-three-cells/README.md
  examples/dt/nova/nova-three-cells/control-plane.md
  examples/dt/nova/nova-three-cells/control-plane/kustomization.yaml
  examples/dt/nova/nova-three-cells/control-plane/nncp/kustomization.yaml
  examples/dt/nova/nova-three-cells/control-plane/nncp/values.yaml
  examples/dt/nova/nova-three-cells/control-plane/service-values.yaml
  examples/dt/nova/nova-three-cells/data-plane.md
  examples/dt/nova/nova-three-cells/edpm/deployment/kustomization.yaml
  examples/dt/nova/nova-three-cells/edpm/deployment/values.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset/kustomization.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset/values.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset2/kustomization.yaml
  examples/dt/nova/nova-three-cells/edpm/nodeset2/values.yaml
  examples/dt/nova/nova-three-cells/kustomization.yaml
  examples/dt/nova/nova-three-cells/values.yaml
Due: none

Add uni02beta trigger job (proposed branches)
  zuul.d/trigger-jobs.yaml
Due: none

Deployed 65b46e3 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Enable octavia
  automation/mocks/bgp_dt01.yaml
  dt/bgp/kustomization.yaml
  examples/dt/bgp/bgp_dt01/control-plane/service-values.yaml
  examples/dt/bgp/control-plane/service-values.yaml
Due: rhoso-architecture-validate-bgp, rhoso-architecture-validate-bgp_dt01

Glance DCN: Remove unnecessary configuration and default to az0
  dt/dcn/edpm-post-ceph/nodeset/kustomization.yaml
  examples/dt/dcn/service-values.yaml
Due: none

Path conditions:
  architecture-downstream-va-hci-trigger-job: any of: ^automation/vars/hci.yaml, ^lib, ^examples/common, ^examples/dt/hci, ^va/hci
  rhoso-architecture-validate-hci: (any of: examples/va/hci) or (any of: examples/va/hci, examples/va/hci/control-plane, examples/va/hci/control-plane/nncp, examples/va/hci/deployment, examples/va/hci/edpm-pre-ceph/deployment, examples/va/hci/edpm-pre-ceph/nodeset, lib, va/hci)
  rhoso-architecture-validate-ovs-dpdk-sriov: (any of: examples/va/nfv) or (any of: automation/mocks/ovs-dpdk-sriov.yaml, examples/va/nfv/ovs-dpdk-sriov, examples/va/nfv/ovs-dpdk-sriov/edpm/deployment, examples/va/nfv/ovs-dpdk-sriov/edpm/nodeset, examples/va/nfv/ovs-dpdk-sriov/nncp, lib)
  rhoso-architecture-validate-uni01alpha: (any of: dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/networker, lib) or (any of: automation/net-env/uni01alpha.yaml, dt/uni01alpha, examples/dt/uni01alpha, examples/dt/uni01alpha/control-plane, examples/dt/uni01alpha/control-plane/nncp, examples/dt/uni01alpha/edpm, examples/dt/uni01alpha/networker, examples/dt/uni01alpha/networker/nodeset, lib)
  rhoso-architecture-validate-bgp: any of: automation/net-env/bgp.yaml, dt/bgp, examples/dt/bgp/control-plane, examples/dt/bgp/control-plane/nncp, examples/dt/bgp/edpm/deployment, examples/dt/bgp/edpm/nodeset, lib
  rhoso-architecture-validate-bgp_dt01: any of: automation/mocks/bgp_dt01.yaml, examples/dt/bgp/bgp_dt01/control-plane, examples/dt/bgp/bgp_dt01/control-plane/nncp, examples/dt/bgp/bgp_dt01/edpm/computes, examples/dt/bgp/bgp_dt01/edpm/deployment, examples/dt/bgp/bgp_dt01/edpm/networkers, lib
  rhoso-architecture-validate-nfv-ovs-dpdk-sriov-hci: any of: examples/dt/nfv/nfv-ovs-dpdk-sriov-hci, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/control-plane/nncp, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/deployment, examples/dt/nfv/nfv-ovs-dpdk-sriov-hci/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-osasinfra: any of: dt/osasinfra, examples/dt/osasinfra, examples/dt/osasinfra/control-plane, examples/dt/osasinfra/control-plane/nncp, examples/dt/osasinfra/deployment, examples/dt/osasinfra/edpm-pre-ceph/deployment, examples/dt/osasinfra/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-ovs-dpdk: any of: automation/mocks/ovs-dpdk.yaml, examples/va/nfv/ovs-dpdk, examples/va/nfv/ovs-dpdk/edpm/deployment, examples/va/nfv/ovs-dpdk/edpm/nodeset, examples/va/nfv/ovs-dpdk/nncp, lib
  rhoso-architecture-validate-pidone: any of: automation/net-env/pidone.yaml, dt/pidone, examples/dt/pidone, examples/dt/pidone/edpm/deployment, examples/dt/pidone/edpm/nodeset, examples/dt/pidone/nncp, lib
  rhoso-architecture-validate-sriov: any of: automation/mocks/sriov.yaml, examples/va/nfv/sriov, examples/va/nfv/sriov/edpm/deployment, examples/va/nfv/sriov/edpm/nodeset, examples/va/nfv/sriov/nncp, lib
  rhoso-architecture-validate-uni02beta: any of: automation/net-env/uni02beta.yaml, dt/uni02beta, examples/dt/uni02beta, examples/dt/uni02beta/control-plane, examples/dt/uni02beta/control-plane/nncp, lib
  rhoso-architecture-validate-uni04delta: any of: automation/net-env/uni04delta.yaml, dt/uni04delta, examples/dt/uni04delta, examples/dt/uni04delta/control-plane, examples/dt/uni04delta/control-plane/nncp, examples/dt/uni04delta/deployment, examples/dt/uni04delta/edpm-pre-ceph, examples/dt/uni04delta/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni04delta-ipv6: any of: automation/mocks/uni04delta-ipv6.yaml, automation/net-env/uni04delta-ipv6.yaml, dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6, examples/dt/uni04delta-ipv6/control-plane, examples/dt/uni04delta-ipv6/control-plane/nncp, examples/dt/uni04delta-ipv6/deployment, examples/dt/uni04delta-ipv6/edpm-pre-ceph, examples/dt/uni04delta-ipv6/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni05epsilon: any of: automation/net-env/uni05epsilon.yaml, dt/uni05epsilon, examples/dt/uni05epsilon, examples/dt/uni05epsilon/control-plane, examples/dt/uni05epsilon/control-plane/nncp, examples/dt/uni05epsilon/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/deployment, examples/dt/uni05epsilon/edpm-pre-ceph/nodeset, lib
  rhoso-architecture-validate-uni06zeta: any of: automation/net-env/uni06zeta.yaml, dt/uni06zeta, examples/dt/uni06zeta, examples/dt/uni06zeta/control-plane, examples/dt/uni06zeta/control-plane/nncp, lib
  rhoso-architecture-validate-uni07eta: any of: automation/net-env/uni07eta.yaml, dt/uni07eta, examples/dt/uni07eta, examples/dt/uni07eta/control-plane, examples/dt/uni07eta/control-plane/nncp, examples/dt/uni07eta/edpm, examples/dt/uni07eta/networker, examples/dt/uni07eta/networker/nodeset, lib
